<!DOCTYPE html>
<html>
<head>
    <title>Welcome Back!</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom CSS if needed -->
    <style>
        /* Custom CSS styles */
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            height: 200px; /* Adjust the height as needed */
        }

        .button {
            margin: 0 10px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href = "./dropdown"><button class="btn btn-primary button">Visit our NGO Search</button></a>
            <a href = "./blogpage"><button class="btn btn-primary button">Visit the Blog</button></a>
        </div>
        <h1>Welcome to My Webpage</h1>
    </div>

    <!-- Include Bootstrap JS if needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
